@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

section {
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
}

.active {
    border-bottom: 3px solid green;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(62, 253, 45, 1) 100%);
}

.offset {
    position: relative;
    z-index: 1;
}

.offset:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.10) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
}

 .animate-shimmer {
    background: linear-gradient(132deg, rgba(229, 231, 235, 1) 0%, rgba(229, 231, 235, 1) 40%, rgb(237, 237, 237)50%, rgba(229, 231, 235, 1) 60%, rgba(229, 231, 235, 1) 100%);
    animation: shimmer 1.5s linear infinite;
    background-size: 300%;
}



@keyframes shimmer {
    0% {
        background-position: 110%;

    }

    80%,
    100% {
        background-position: -20%;

    }
} 

